<!-- app.component.html -->

<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/historias-clinicas" routerLinkActive="active">Historias Clínicas</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/agregar-historia-clinica" routerLinkActive="active">Crear Historia Clínica</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/detalles-historias-clinicas" routerLinkActive="active">Detalles de Historias Clínicas</a>
    </li>
  </ul>
</nav>
