<h1>Historias Clínicas</h1>

<div>
  <label for="historiaId">ID de Historia Clínica:</label>
  <input type="text" id="historiaId" placeholder="Ingrese el ID" [(ngModel)]="idHistoria">
  <button (click)="buscarHistoriaPorId()">Buscar</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID Historia Clínica</th>
      <th>Nombre Usuario</th>
      <th>Apellido Usuario</th>
      <th>Tipo de Documento</th>
      <th>Documento de Identificación</th>
      <th>Estado Usuario</th>
      <th>Sexo Usuario</th>
      <th>Nombre Mascota</th>
      <th>Raza Mascota</th>
      <th>Sexo Mascota</th>
      <th>Fecha de Creación</th>
      <th>Acciones</th> 
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let historia of historiasClinicas">
      <td>{{ historia.id }}</td>
      <td>{{ historia.mascota.usuario.nombre }}</td>
      <td>{{ historia.mascota.usuario.apellido }}</td>
      <td>{{ historia.mascota.usuario.tipoDocumento }}</td>
      <td>{{ historia.mascota.usuario.documentoIdentificacion }}</td>
      <td>{{ historia.mascota.usuario.estado }}</td>
      <td>{{ historia.mascota.usuario.sexo }}</td>
      <td>{{ historia.mascota.nombre }}</td>
      <td>{{ historia.mascota.raza }}</td>
      <td>{{ historia.mascota.sexo }}</td>
      <td>{{ historia.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <td class="action-buttons">
        <button (click)="editarHistoria(historia)" class="action-button">
          <i class="pi pi-pencil"></i>
        </button>
        <button (click)="eliminarHistoria(historia.id)" class="action-button">
          <i class="pi pi-trash"></i>
        </button>
        <button (click)="agregarDetalle(historia.id)" class="action-button">
          <i class="pi pi-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>