div {
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    grid-column: span 3;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  button {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
  }

  button.action-button {
    padding: 6px 10px;
    margin-right: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center; 
  }
  
  button:hover {
    background-color: #45a049; 
  }
  
  h2 {
    color: #333;
    font-size: 24px;
  }

  .action-buttons {
    display: flex;
  }
  
  .action-button {
    margin-right: 5px; /* Puedes ajustar este margen según tus preferencias */
  }
  
  .action-button i {
    margin-right: 5px; /* Espacio entre el icono y el texto del botón */
  }
  